
@{
    ViewBag.Title = "PreviousDonation";
}
<br/>
<br/>
<br />
<br />
<h4>Thank you for your prior donation. Currently Coda is only accepting one donation per user monthly. <br/> <br/> If you think that there's been a mistake feel free to email us at Coda@gmail.com</h4>

