@model Coda.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>
        Are you sure you want to delete: <b style="color: red">@Html.DisplayFor(model => model.Title)?</b>
    </h4>

    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CodaBlogHome")
        </div>
    }
</div>
