@model IEnumerable<Coda.Models.UserViewModel>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@*<h2 style="color: #42dca3">Connections</h2>*@

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    foreach (var item in Model)
    {
        <fieldset>
            <br />
            <br />
            <div class="editor-label" style="color: #42dca3; font-size: 22px; font-weight: bold;">
                @Html.DisplayFor(modelItem => item.UserName)
                <br />
            </div>
            <div class="editor-field ">

                @{
                    if (item.Image != null)
                    {
                        string imageBase64 = Convert.ToBase64String(item.Image);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <a href="@Url.Action("Details", "Instructors", new {id=item.UserId})"><img src="@imageSrc" width="200" height="200" /></a>
                    }
                }
            </div>
        </fieldset>

                        }
                    }   