@model IEnumerable<Coda.Models.UserViewModel>

<br />
<br />
<br />
<br />
<br />
<br />



<h3 style="color: #42dca3">Instructors Near You</h3>
<hr />
<br />
<br />
<br />
<br/>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    foreach (var item in Model)
    {
        <ul style="display: inline;">
           
            @*<div class="editor-label" style="color: #42dca3; font-size: 22px; font-weight: bold;">
                @Html.DisplayFor(modelItem => item.UserName)
                <br />
            </div>*@
          
                <li style="display: inline-table; margin: 20px 20px 20px 20px">

                    @{
                        if (item.Image != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.Image);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <a href="@Url.Action("Details", "Instructors", new {id = item.UserId})"><img src="@imageSrc" class="rcorners" width="300" height="300" style="padding: 1px; border: solid white; background-color: #42dca3;" /></a>
                        }
                    }
                </li>
          
        </ul>

                        }
                    }   