@using Jmelosegui.Mvc.GoogleMap




@{ Html.GoogleMap()
                                                                  .Name("map")
                                                                    .Height(500)
                                                                  .Center(c => c.Latitude(23)
                                                                                .Longitude(-82))
                                                                  .Markers(marker => marker.Add()
                                                                                           .Title("Click to Open an InfoWindow")
                                                                                           .Latitude(23.140971656573335)
                                                                                           .Longitude(-82.39435493946075)
                                                                                           .Window(window => window.Add()
                                                                                                                   .MaxWidth(500)
                                                                                                                   .DisableAutoPan(false)
                                                                                                                   .OpenOnRightClick(false)
                                                                                                                   .Content(
                                                                                            @<text>
                                                                                                <div id="content">
                                                                                                    <h2>La Havana</h2>
                                                                                                    <div id="bodyContent">
                                                                                                        <p>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </text>
                                                         )

                                        )
        ).Render();

}

<br />
<br />


@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}





