@*@using Coda.Models
@model IQueryable<IGrouping<Int32, Coda.Models.Tablature>>
@{
    ViewBag.Title = "FlagForRemoval";
}
<table class="table">
    <tr>
        <th>Links</th>
        <th>Tablature Id</th>
        <th>Average Rating</th>
        <th>Total Number of Ratings</th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var t in item)
        {
          
            <tr>
                <td>
                    @Html.ActionLink("Review Tablature", "Details", new {id = t.Id})
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.FirstOrDefault().SongId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstOrDefault().Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstOrDefault().TotalRaters)
                </td>
            </tr>
        }
    }

</table>*@

