@model IEnumerable<Coda.Models.Tablature>

@{
    ViewBag.Title = "Top10";
}

<h2>Top10</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Song.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Song.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
    </tr>
}

</table>
