
@{
    ViewBag.Title = "NoMembers";
}

<br/>
<br />
<h2>You currently have no connections </h2>
<h4>Please be sure to fill out your <a href="@Url.Action("BecomeAMember", "MemberProfiles")">Member Profile</a> if you haven't already. Otherwise please be sure to check back soon!</h4>








