@model IQueryable<IGrouping<Int32, Coda.Models.SongScore>>

@{
    ViewBag.Title = "Details";
}


<table class="table">
  

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstOrDefault().SongId)
            </td>
            </tr>
    }

</table>