@{
    ViewBag.Title = "Home Page";
  
}

@Styles.Render("~/Content/rotating-words.css")
@Styles.Render("~/Content/searchbox.css")


<div class="rw-wrapper" style="margin-top: 5%; margin-bottom: 10%" >
    <h4 class="rw-sentence">
        <span style="background-position: top left">Because every great artist was first</span>
        <div class="rw-words rw-words-1">
            <span>an amateur</span>
            <span>a newb</span>
            <span>a dabbler</span>
            <span>an amateur</span>
            <span>a newb</span>
            <span>a dabbler</span>
        </div>
        <br />
        <br />
        <span>We encourage you to</span>
        <div class="rw-words rw-words-2">
            <span>learn</span>
            <span>teach</span>
            <span>connect</span>
            <span>learn</span>
            <span>teach</span>
            <span>connect</span>
        </div>
    </h4>
</div>


<div style="margin-bottom: 18%;">
    <div class="flexsearch">
        <div class="flexsearch-wrapper">
            <div class="flexsearch--form">
                <div class="flexsearch--input-wrapper">
                    @using (Html.BeginForm("SearchArtists", "Artists"))
                    {
                        @Html.TextBox("SearchString", null, new
                   {
                       @class = "flexsearch--input",
                       @placeholder = "Search Artists...",
                       @type = "search",
                     
                   })
                        <input class="flexsearch--submit" type="submit" value="&#10140;">
                    }
                </div>

            </div>
        </div>
    </div>
</div>







