@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Search Artist</h1>
    @using (Html.BeginForm("SearchArtists", "Artists"))
    {
        @Html.TextBox("SearchString")
        <div>
            <input type="submit" value="Search" />
        </div>
    }
</div>
