@{
	ViewBag.Title = "Home Page";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<style type="text/css">
	.txtbox {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		}
</style>

<div align="center">
	@using (Html.BeginForm("SearchArtists", "Artists"))
	{
		@Html.TextBox("SearchString", null, new {@class = "txtbox"})
		<div>
			<input type="submit" value="Search"/>
		</div>}
</div>


